@model ContasApp.Presentation.Models.AccountLoginViewModel

@{Layout = "~/Views/Shared/_AccountLayout.cshtml";}

<div class="text-center">
    <h4>Acessar Conta</h4>
    <p>Entre com suas credenciais de acesso.</p>
    <hr/>
</div>

@using(Html.BeginForm())
{
    <div class="mb-2 text-center">
        <strong>@TempData["Mensagem"]</strong>
    </div>

     <div class="mb-2">
        <label> Email de acesso:</label>
        @Html.TextBoxFor(model => model.Email, new {@class="form-control", @placeholder="Ex:contaapp@gmail.com"})
        <span class="text-danger">
            @Html.ValidationMessageFor(model=>model.Email)
        </span>
    </div>

    <div class="mb-2">
        <label>Senha de acesso</label>
        @Html.PasswordFor(model => model.Senha, new {@class="form-control"})
        <span class="text-danger">
            @Html.ValidationMessageFor(model=>model.Senha)
        </span>
        <div class="text-end">
            <a href="/Account/ForgotPassword">Esqueci minha senha</a>
        </div>
    </div>

    <div class="mb-2 d-grid">
        <input type="submit" class="btn btn-primary" value="Acessar Sistema" />
    </div>

    <div class="mb-2 text-center">
        Não possui conta?<br /><a href="/Account/Register">Cadastre-se aqui!</a>
    </div>
}